@media screen and (min-width: 1060px) {
  .wap{
    display: none;
  }
  .web{
    width: 100%;
    .top{
   
        background-image: url(../../../static/image-zhibo/web/bg-top.png);
        width: 10rem;
        height: 5.052083rem;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: .505208rem;
        .content{
          margin: 0 auto;
          background: #000;
          //opacity: .5;
          width: 5.833333rem;
          height: 3.645833rem;
          // display: flex;
          // justify-content: space-between;
          .left{
            width: 5.833333rem;
            height: 3.645833rem;
            text-align: left;
            .header-top{
              font-size: .4375rem;
              color: #F18C15;
              line-height: .614583rem;
              height: .614583rem;
            }
            .dec{
              color: #FFFFFF;
              font-size: .145833rem;
            }
          }
          .right{

          }
        }
    }

  }
}

@media screen and (max-width: 1059px) {
  .wap{
    display: block;
  }
  .web{
    display: none;
  }
}